@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* .box {
    display: block;
    min-width: 5em;
    min-height: 5em;
    border: 3px solid rgba(0,0,0,0.25);
    border-radius: 0.5em;
    margin: 0.25em;
    padding: 0.5em;
    cursor: move;
}
.over {
    border-style: dashed;
    border-color: black;
}
.component { background-color: red; }
.container { background-color: gold; } */

*
{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html, body
{
    margin: 0px;
    padding: 0px;
}

#editor-window, #level-window
{
    border: 1px solid black;
    display: inline-block;
}

#editor-window
{
    width: 25%;
    position: fixed;
    background-color: white;
    overflow-x: scroll;
}

button
{
    position: relative;
    display: inline-block;
    border: 0.125em solid rgba(0, 0, 0, 0.25);
    width: auto;
    background-color: dodgerblue;
    color: white;
    padding: 0.2em 0.5em;
    border-bottom-width: 0.5em;
}
button:active
{
    position: relative;
    top: 0.125em;
    border-bottom-width: 0.375em;
}
button:active::after
{
    content: "\00a0";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0.125em;
    left: -0.125em;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.125em solid rgba(255, 255, 255, 0.05);
    border-bottom-width: 0.375em;
}

input, select
{
    width: 9em;
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid silver;
    text-align: center;
}

table
{
    width: 100%;
}

td
{
    text-align: center;
}

.trashcan
{
    border: 2px solid firebrick;
    margin: 0.25em 0.5em;
    background-color: tomato;
    text-align: center;
    padding: 2em 0 2em 0;
}

.enemy-box
{
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    background-color: greenyellow;
    word-wrap: break-word;
    margin: 0.5em;
}
.enemy-type
{
    display: inline-block;
}
.enemy-info
{
    display: inline-block;
}
.pack .enemy-table-header-row th
{
    width: 33%;
    min-width: 7em;
}

#level-window
{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 25%;
    display: flex;
    flex-direction: row;
}

.pack
{
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    background-color: gainsboro;

    display: inline-block;
    min-width: 10em;
    min-height: 5em;
    margin: 7px 3px;
    padding-bottom: 3em;
}
.drag-over
{
    border-style: dashed;
}